<li>
{{#each pictures as |picture|}}
  <img class="dev-picture" src={{picture.url}} alt="dev picture" />


  <form class="name-check-form">
    <div class="form-group">
      <input class="name-response" placeholder="Click Button to Enter Name">
    </div>
    <div class="form-group">
      <button class="button button-2 button-2d" type=submit data-id={{name.id}}>{{name.name}}</button>
    </div>
    <div class="form-group">
      <button class="button name-check-submit" type=submit>Submit</button>
    </div>
  </form>
{{/each}}


</li>
