
{{#each pictures as |picture|}}
<li class="dev-flash-card">
  <img data-id={{picture.id}} data-name={{picture.name}} class="dev-picture" src={{picture.url}} alt="dev picture" />


  <form class="name-check-form">
    <div class="form-group">
      <input class="name-response" placeholder="Click Button to Enter Name">
    </div>
    <div class="form-group name-list-handlebars">
      {{!-- name-list2 goes HERE --}}
    </div>
    <div class="form-group">
      <button data-id={{picture.id}} class="button name-check-submit" type=submit>Submit</button>
    </div>
    <p class="ufm-check"></p>
  </form>
  </li>
{{/each}}
