{{#each names as |name|}}
<form class="name-check-form">

  <div class="form-group">
    <button class="button button-2 button-2d" type=submit data-id={{name.id}}>{{name.name}}</button>
  </div>

</form>
{{/each}}
