.title {
  color: black;
  font-size: 28px;
}

.auth_box{
  width: 170px;
  float: right;
  background-color: red;
  border: 2px solid cyan;
  overflow: auto;
}

.ufm-auth{
  border: white solid 1px;
  color: black;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 5px;
}

.crud-form{
  margin-bottom: 35px;
}

#delete-attempts{
  display: none;
}
             /* ----------------------------------------------------- */
/*//////////////////////     FLASH CARD -- HANDLEBARS  start   //////////////////*/
            /* ----------------------------------------------------- */


#flash-card-wrapper{
  border: 1px solid purple;
  text-align: center;
}

.flash-card-handlebars{
  border: 1px solid green;
}

.dev-picture{
  border: 1px solid cyan;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 240px;
}

.dev-flash-card{
  border: 1px orange solid;
}

.name-response {
  width: 200px;
  height: 35px;
  display: block;
  text-align: center;
}

.not-clickable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name-check-form{
  text-align: center;
}

.form-group > input{
  margin: 0 auto;
}

/*.form-group {
    margin-bottom: 15px;
    text-align: center;
}*/

/*//////    BUTTONS  -- start  ////////*/

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 14px 45px;
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}*/

.button-2d {
    border-radius: 5px;
}

.button-2 {
    background: #cb4e4e;
    color: #fff;
    -webkit-box-shadow: 0 4px #ab3c3c;
    -moz-box-shadow: 0 4px #ab3c3c;
    box-shadow: 0 4px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.button-2d:hover {
    box-shadow: 0 6px #ab3c3c;
    top: -2px;
}

/*.button-2d:visited {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}*/

.button-2d:active, .button-2d:visited {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

.name-check-submit {
  background-color: blue;
  color: white;
}


/*//////    BUTTONS  -- end  ////////*/
